
config MTK_ICM20608GY
        bool "ICM20608 for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         ICM20608 gyroscope.

